@import url('https://fonts.googleapis.com/css?family=Monoton&display=swap');

body{
    font-family: 'Monoton', cursive;
    font-size: 25px;
}

.gamePlayArea{
    height: 600px;
    width: 900px;
    background-color: aqua;
    overflow: hidden;
}

.dashboard{
    color: red;
    font-size: 1em;
}

.dashboard > div{
    width: 48%;
    text-align: right;
    display: inline-block;
}

.progress{
    background-color: black;
    height: 20px;
    width: 300px;
    border:1px solid black;
    border-radius: 10px;
    margin-left: 20px;
}

.progress-bar{
    background-color: greenyellow;
    height: 20px;
    width: 100%;
    border:1px solid black;
    border-radius: 10px;
}

#gameOver{
    position: absolute;
    left: 150px;
    height: 300px;
    width: 600px;
    background-color: gray;
    text-align: center;
    color: white;
    padding-top:30px;
    border-radius:5px;
    margin-top: 10px;
}

.btnStart{
    position: relative;
    top:30px;
    background-color: brown;
    font-size: 20px;
    border:1px solid
}

.btnStart:hover{
    cursor: pointer;
}

#container{
    background-color: black;
    width: 100%;
    height: 90%;
}

.base{
    position: absolute;
    top: 250px;
    left: 430px;
    width: 50px;
    height: 50px;
    background-color: brown;
    margin: auto;
}

.box{
    transform: rotate(0deg);
    position: absolute;
    top: 10px;
    left: 10px;
    width: 30px;
    height: 30px;
    background-color: gray;
    border-radius: 4px;
    transition:all 0.1s ease-in-out;
    /*for other browsers*/
    -moz-transition:all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition:all 0.1s ease-in-out;
}

.turets{
    position: absolute;
    border-radius: 2px;
    top: -18px;
    left: 11px;
    width: 7px;
    height: 33px;
    background-color:gold;
}